
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <h4>Categories</h4>
            <span class="glyphicon glyphicon-plus btn btn-primary" ng-click="addcategory()"></span>         
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4 btn" ng-repeat="category in categories" ng-click="selectcategory(category)">
            <div class="panel panel-default">
                <div class="panel-body">
                   <h4>{{category.name}}</h4>
                    <p>{{category.desc}}</p>
                    <span class="glyphicon glyphicon-edit btn pull-left" 
                    ng-click="updatecategory(category);$event.stopPropagation()"></span>
                    <span class="glyphicon glyphicon-remove btn pull-right" 
                    ng-click="removecategory(category);$event.stopPropagation()"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</div>
