
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form novalidate name="customerForm">
        <div class="row form-group">
            <div class="col-md-6">
                <input required type="text" class="form-control" placeholder="Supplier Name" 
                ng-model="customer.name" name="name" autofocus>                  
            </div>
            <div class="col-md-6">
                <div class="has-error" 
                ng-show="customerForm.$dirty && customerForm.name.$invalid">
                    <small
                    ng-show="customerForm.name.$error.required">
                    Name is required.
                    </small>
                </div>                            
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Supplier Description"
                ng-model="customer.desc" name="desc">                  
            </div>
            <div class="col-md-6">                
            </div>
        </div>
    </form>                 
</div>
<div class="modal-footer text-left">
    <button class="btn btn-primary" type="button" ng-click="ok()"
    ng-disabled="customerForm.name.$error.required">{{actionbutton}}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
</div>
