
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <h4>Supplier: {{porder.supplier.name}} <small>{{porder.date | date:shortdate}}</small></h4>
    <table class="table table-hover table-condensed">
        <thead>
            <th>Item</th>
            <th>Count</th>
            <th>Price</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr ng-repeat="porderitem in porderitems">
                <td>{{porderitem.item.name}}</td>
                <td>{{porderitem.count}}</td>
                <td>{{porderitem.price}}</td>
                <td>{{porderitem.count * porderitem.price | currency:"":0}}</td>
            </tr>
        </tbody>
        <tfoot>
            <td colspan="4"><h3>Total: {{porder.total | currency:"":0}}</h3></td>
        </tfoot>
    </table>
</div>
<div class="modal-footer text-left">
    <button class="btn btn-danger pull-left" type="button" ng-click="delete()"
    ng-disabled="supplierForm.name.$error.required">Delete</button>
    <button class="btn btn-primary" type="button" ng-click="ok()"
    ng-disabled="supplierForm.name.$error.required">Done</button>
</div>
</div>
