<html ng-app="app">

<head>
    
    <title>Lawkanet Simple Inventory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/views/css/style.css" rel="stylesheet">
    
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/async/dist/async.min.js"></script>
    
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>        
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>    

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.min.js"></script>

    <script src="/app/app.js"></script>
    <script src="/app/config.js"></script>
    <script src="/app/routes.js"></script>
    <script src="/app/factories.js"></script>
    <script src="/app/navCtrl.js"></script>
    <script src="/app/registerCtrl.js"></script>    
    <script src="/app/loginCtrl.js"></script>    
    <script src="/app/mainCtrl.js"></script>
    <script src="/app/itemCtrl.js"></script>
    <script src="/app/supplierCtrl.js"></script>
    <script src="/app/customerCtrl.js"></script>
    <script src="/app/buyCtrl.js"></script>
    <script src="/app/sellCtrl.js"></script>

    <script src="/app/buyCtrl_YG.js"></script>
    <script src="/app/purchaseOrderCtrl.js"></script>

</head>

<body>
    <div ng-controller='navCtrl'>
        <nav class="navbar navbar-default"
        ng-hide="$state.current.name=='landing' || $state.current.name == 'pricing' || 
                    $state.current.name == 'register' || $state.current.name == 'login'">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" 
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" 
                    aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="mainmenu">Myo Ma Shop</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">            
                        <li ng-class="{active: $state.includes('sell')}"><a ui-sref="sell">Sell</a></li>
                        <li ng-class="{active: $state.includes('buy')}"><a ui-sref="buy">Buy</a></li>

                        <li ng-class="{active: $state.includes('items')}"><a ui-sref="items">Items</a></li>                    
                        <li ng-class="{active: $state.includes('suppliers')}"><a ui-sref="suppliers">Suppliers</a></li>
                        <li ng-class="{active: $state.includes('customers')}"><a ui-sref="customers">Customers</a></li>
                        
                        <li ng-class="{active: $state.includes('sales')}"><a ui-sref="sales">Sales</a></li>
                        <li ng-class="{active: $state.includes('purchaseOrder')}"><a ui-sref="purchaseOrder">Purchases</a></li>
                        
                        <li ng-class="{active: $state.includes('settings')}"><a ui-sref="settings">Settings</a></li>
                        <li ng-class="{active: $state.includes('signout')}"><a ng-click="signout()">[Zafar Ahmed] Sign out</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>


    <div class="container">
        <ui-view>
    </div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70496133-1', 'auto');
  ga('send', 'pageview');

</script>
    
</body>

</html>
