<html ng-app="app">

<head>
    
    <title>Lawkanet Simple Inventory</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/views/css/style.css" rel="stylesheet">
    
    <script src="/bower_components/lodash/lodash.min.js"></script>
    <script src="/bower_components/async/dist/async.min.js"></script>
    
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>        
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>    

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.min.js"></script>

    <script src="/app/app.js"></script>
    <script src="/app/config.js"></script>
    <script src="/app/routes.js"></script>
    <script src="/app/factories.js"></script>
    <script src="/app/services.js"></script>
    <script src="/app/webappCtrl.js"></script>
    <script src="/app/navCtrl.js"></script>
    <script src="/app/registerCtrl.js"></script>    
    <script src="/app/loginCtrl.js"></script>    
    <script src="/app/logoutCtrl.js"></script>    
    <script src="/app/mainCtrl.js"></script>
    <script src="/app/itemCtrl.js"></script>
    <script src="/app/supplierCtrl.js"></script>
    <script src="/app/customerCtrl.js"></script>
    <script src="/app/buyCtrl.js"></script>
    <script src="/app/sellCtrl.js"></script>
    <script src="/app/accountCtrl.js"></script>

    <script src="/app/buyCtrl_YG.js"></script>
    <script src="/app/purchaseOrderCtrl.js"></script>
    <script src="/app/itemCtrl_YG.js"></script>

</head>

<body>
        <ui-view>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70496133-1', 'auto');
  ga('send', 'pageview');

</script>
    
</body>

</html>
