<div class="top-buffer-lg">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-6 text-left">
						<a ui-sref="landing"><img src="/views/img/logo.jpg" alt=""></a>
					</div>
	 				<div class="col-xs-6 text-right">
					<a class="btn btn-default btn-lg" ui-sref="login">Login</a>
					</div>									
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<h1>Simple Online Inventory Management</h1>
						<ul class="h4">
							<li>Your Inventory. Anytime anywhere.</li>
							<li>Same inventory. Multiple users.</li>
							<li>Use your phone. No setup required.</li>
						</ul>
					</div>		
				</div>	
				<div class="row top-buffer-md">
					<div class="col-xs-12">
						<a ui-sref="pricing" class="btn btn-success btn-lg">Try it for FREE!</a> 
						<!-- <small>Or check our <a ui-sref="pricing">plans and pricing</a></small> -->
						<!-- | <a ui-sref="login">Login</a> -->
					</div>		
				</div>		
				<hr>		
				<div class="row top-buffer-sm">
					<div class="col-xs-12">
						<h3>Item Management</h3>
						<p><small>Notify low inventory. Multiple Inventory Locations.</small></p>
						<h3>Supplier Management</h3>
						<p><small>Outstanding payments. Purchase order history.</small></p>
						<h3>Customer Management</h3>
						<p><small>Outstanding payments to receive. Sale order history.</small></p>
					</div>		
				</div>	


<!--				
				<hr>

 				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 well">
							<h3>Login</h3>			
							<hr>	
	 						<form role="form">
								<div class="form-group">
									<label for="username">Company Code</label>
									<input type="text" class="form-control input-lg">
								</div>
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" class="form-control input-lg" id="username">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control input-lg" id="password">		
								</div>
								<div class="form-group">
									<a class="btn btn-primary btn-lg" ui-sref="mainmenu">Login</a>
								</div>							
							</form>
					</div>		
				</div> -->

				<hr>

				<div class="row bottom-buffer-lg">
					<div class="col-xs-12">
						<small></a>Contact me: <a href="mailto:getlawkanet@gmail.com">getlawkanet@gmail.com</a> | +65 90614095</small>
					</div>		
				</div>				
		</div>
	</div>
</div>