<div class="top-buffer-lg">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-12">
						<h1>Manage Inventory with <a ui-sref="landing"><img src="/views/img/logo.jpg" alt=""></a></h1>
					</div>		
				</div>
				<div class="row">
					<div class="col-xs-12">
						<h2>1. Know what's in stock</h2>
					</div>		
				</div>	
				<div class="row">
					<div class="col-xs-12">
						<h2>2. Know your pending payments</h2>
					</div>		
				</div>	
				<div class="row">
					<div class="col-xs-12">
						<h2>3. Know how much you buy and sell for</h2>
					</div>		
				</div>	
				<hr>
				<div class="row">
					<div class="col-xs-12">
						<h2><a ui-sref="pricing" class="btn btn-success btn-lg">Try it for FREE!</a></h2>
						<!-- | <a ui-sref="login">Login</a> -->
					</div>		
				</div>
				
				<hr>

				<div class="row">
					<div class="col-sm-12">
							<h3>Login</h3>			
							<hr>	
	 						<form role="form">
								<div class="form-group">
									<label for="username">Company Code</label>
									<input type="text" class="form-control input-lg">
								</div>
								<div class="form-group">
									<label for="username">Username</label>
									<input type="text" class="form-control input-lg" id="username">
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control input-lg" id="password">		
								</div>
								<div class="form-group">
									<a class="btn btn-primary btn-lg" ui-sref="mainmenu">Login</a>
								</div>							
							</form>
					</div>		
				</div>

		</div>
	</div>
</div>