<div class="row top-buffer">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<a ui-sref="sell" class="btn btn-primary btn-block btn-lg">Sell</a>
		<a ui-sref="buy" class="btn btn-primary btn-block btn-lg">Buy</a>
		<a ui-sref="saleorders" class="btn btn-primary btn-block btn-lg">Sale Orders</a>
		<a ui-sref="purchaseOrder" class="btn btn-primary btn-block btn-lg">Purchase Orders</a>
		<a ui-sref="items" class="btn btn-primary btn-block btn-lg">Items</a>
		<a ui-sref="suppliers" class="btn btn-primary btn-block btn-lg">Suppliers</a>
		<a ui-sref="customers" class="btn btn-primary btn-block btn-lg">Customers</a>

		<a ui-sref="buy_YG" class="btn btn-primary btn-block btn-lg">Buy_YG</a>

	</div>
	<div class="col-xs-2"></div>
</div>