
<div class="row top-buffer">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<a ui-sref="app.sell" class="btn btn-primary btn-block btn-lg">Sell</a>
		<a ui-sref="app.buy" class="btn btn-primary btn-block btn-lg">Buy</a>
		<a ui-sref="app.sales" class="btn btn-primary btn-block btn-lg">Sale Orders</a>
		<a ui-sref="app.purchases" class="btn btn-primary btn-block btn-lg">Purchase Orders</a>
		<a ui-sref="app.items" class="btn btn-primary btn-block btn-lg">Items</a>
		<a ui-sref="app.items_YG" class="btn btn-primary btn-block btn-lg">Items_YG</a>
		<a ui-sref="app.suppliers" class="btn btn-primary btn-block btn-lg">Suppliers</a>
		<a ui-sref="app.customers" class="btn btn-primary btn-block btn-lg">Customers</a>
	</div>
	<div class="col-xs-2"></div>
</div>

