<div class="top-buffer-lg">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">
				<div class="row">
					<div class="col-xs-12">
						<h1>Manage Inventory with <a ui-sref="landing"><img src="/views/img/logo.jpg" alt=""></a></h1>
					</div>		
				</div>

			<div class="row">
				<div class="col-xs-4">
					<h3>Free</h3>
					<a class="btn btn-primary btn-lg" ui-sref="register">Register</a>
				</div>		
				<div class="col-xs-4">
					<h3>Basic</h3>
					<a class="btn btn-primary btn-lg" ui-sref="register">Register</a>
				</div>	
				<div class="col-xs-4">
					<h3>Pro</h3>
					<a class="btn btn-primary btn-lg" ui-sref="register">Register</a>
				</div>	
			</div>

		</div>
	</div>
</div>		