<div class="top-buffer-lg">
	<div class="row">
		<div class="col-xs-12 col-lg-8 col-lg-offset-2">

			<div class="row">
				<div class="col-xs-6 text-left">
						<a ui-sref="landing"><img src="/views/img/logo.jpg" alt=""></a>
				</div>		
 				<div class="col-xs-6 text-right">
					<a class="btn btn-default btn-lg" ui-sref="login">Login</a>
				</div>	
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-4 well">
					<h3>Basic $10/month</h3>
					<p>
						<ul>
							<li>1 User</li>
							<li>30 Inventory Items</li>
							<li>1 Inventory Location</li>
						</ul>
					</p>
					<a class="btn btn-primary btn-lg" ui-sref="register">Start your FREE Month</a>
					<p><small>No payment required</small></p>
				</div>		
				<div class="col-xs-12 col-sm-4 col-lg-4 well">
					<h3>Pro $20/month</h3>
					<p>
						<ul>
							<li>3 Users</li>
							<li>100 Inventory Items</li>
							<li>3 Inventory Locations</li>
						</ul>
					</p>					
					<a class="btn btn-primary btn-lg" ui-sref="register">Start your FREE Month</a>
					<p><small>No payment required</small></p>
				</div>	
				<div class="col-xs-12 col-sm-4 col-lg-4 well">
					<h3>Expert $20/month</h3>
					<p>
						<ul>
							<li>15 Users</li>
							<li>500 Inventory Items</li>
							<li>5 Inventory Locations</li>
						</ul>
					</p>					
					<a class="btn btn-primary btn-lg" ui-sref="register">Start your FREE Month</a>
					<p><small>No payment required</small></p>
				</div>	
			</div>
				<hr>

				<div class="row">
					<div class="col-xs-12">
						<small>Contact me: getlawkanet@gmail.com</small>

					</div>		
				</div>
		</div>
	</div>
</div>		