	<!-- Recent Sales -->
	<section class="top-buffer">
			
		<div class="row top-buffer">
			<div class="col-xs-12 text-center">
				<!-- <h4>Recent Purchase Records</h4> -->
				<table class="table table-hover table-condensed">
					<thead>
						<th>#</th>
						<th>Supplier</th>
						<th>Total</th>
						<th>Remaining</th>
						<th>Date</th>
					</thead>
					<tbody>
						<tr ng-repeat="porder in porders" ng-click="showOrderDetail(porder)">
							<td>{{$index + 1}}</td>
							<td>
								{{porder.supplier.name}}<br>
								<span ng-repeat="poitem in porder.poitems">
									<h6>{{poitem.item.name}} at {{poitem.price | currency:""}} x {{poitem.count}}</h6>
								</span>								
							</td>
							<td class="text-info">{{porder.total | currency:""}}</td>
							<td class="text-danger">{{porder.remaining | currency:""}}</td>
							<td><h6>{{porder.createdAt | date:'dd MMM yyyy HH:mm a'}}</h6></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>		

<!-- 		<div class="row top-buffer">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-3 text-left">
						<a ui-sref="mainmenu" class="btn btn-warning btn-md">Back</a>
					</div>
					
				</div>					
			</div>					
		</div> -->

	</section>
	<!-- End of Recent Sales -->
	
	