.top-buffer { margin-top:10px; }
.top-buffer-md { margin-top:30px; }
.top-buffer-lg { margin-top:50px; }

.bottom-buffer { margin-bottom:10px; }
.bottom-buffer-md { margin-bottom:30px; }
.bottom-buffer-lg { margin-bottom:50px; }

.left-buffer-sm { margin-left:5px;}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* remove top and bottom margin for headers*/
h6, h4 { 
	margin-top:0px;
	margin-bottom:0px;

 }

/* remove Number input box arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form-control {
	padding: 6px 6px
}