<div class="container">

	<div class="row vcenter">
		<div class="col-sm-2">
			<a class="btn btn-default btn-block" href="#/">Main Menu</a>			
		</div>
		<div class="col-sm-2">
			<a class="btn btn-default btn-block" href="#/categories">Categories</a>			
		</div>
		<div class="col-sm-6">
			<h4>Manage Category</h4>		
		</div>
	</div>

	<hr>

	<div class="row vcenter">
		<div class="col-sm-3">
			<a class="btn btn-default btn-block" href="#/additem">
				<h4>Add Item</h4>	
			</a>			
		</div>
		<div class="col-sm-6">
			<h4>{{category.name}}</h4>
			<p>{{category.desc}}</p>
		</div>
	</div>

	<hr>
		
	<div class="row">
		
		<div class="col-sm-3 col-xs-4 category-height" ng-repeat="item in items">
			<div class="panel panel-default btn btn-block" 
			ng-click="selectitem(item)">						
				<div class="panel-heading">
					<h3 class="panel-title text-center">{{item.name}}</h3>		
				</div>
				<div class="panel-body">{{item.desc}}</div>
				
				<div class="panel-footer text-center">
					<a class="btn btn-sm btn-warning glyphicon glyphicon-edit" 
					ng-click="updateitem(item);$event.stopPropagation()"></a>		
					<button class="btn btn-sm btn-danger glyphicon glyphicon-remove" 
					ng-click="removeitem(item);$event.stopPropagation()"></button>		
				</div>
			</div>						
		</div>

	</div>

</div>
