<div class="container">

	<div class="row vcenter">

		<div class="col-sm-2">
			<a class="btn btn-default btn-block" href="#/">
				Main Menu
			</a>			
		</div>

		<div class="col-sm-3">
			<h4>Manage Inventory</h4>		
		</div>
	</div>

	<hr>

	<div class="row">

		<div class="col-sm-3">
			<a class="btn btn-default btn-block" href="#/addcategory">
				<h4>Add Category</h4>	
			</a>			
		</div>

	</div>

	<hr>

	<div class="row">
		
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>			
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>			
		</div>
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
			</div>			
		</div>

	</div>

</div>
